*{
    margin: 0;
    padding: 0;
}
 
body{
    background-color: bisque;
}

main{
    height: 35em;
}
/*Header*/
header {
  height: 90px;  
  background-color: #1c371f;
  box-shadow: 1px 1px 1px 1.5px gray;
  padding: 0px 1.5% 0px 1.5%;
    display: flex;
}

form{
    margin-left: 55px;
}

header input{
    margin-top: 20%;
    margin-left: 45%;
    padding-left: 150%;
    padding-right: 110%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
    border: 2px solid rgb(105, 177, 105);
    display: flex;
    align-items: center;
}

input[type=button]{
    background: #333;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.8s;
}

.imglogo-header{
    height: 85px;
    margin-top: 0.2%;
}

.header_user{
    display: inline-block;
	height: 60px;
	width: 75px;
	background-color: #29572e;
	margin: 9% 12% 2% 0px;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
    border: #598f5f solid 1px;
	color: bisque;
	transition: all 0.5s ease;
    font-size: 145%; 
    text-decoration: none;
    cursor: pointer;
}

.header_user:hover{
    background-color: #1c371f;
    opacity: 0.9;
}
.header_user a{
    text-decoration: none;
    color: bisque;
}

.space{
    display: flex;
    flex-direction: row;
    margin-left: 700px;
}

/*Fim Header*/
/*termos de uso*/
.caixa{
    border: 2px solid #e0eca9;
    background-color: rgb(231, 199, 160);
    margin: 5% 25% 5% 25%;
    padding: 4% 5% 6% 5%;
    border-radius: 5%;
    border: #598f5f 3px solid;
    box-shadow: 2px 2px 4px gray;
}

.termo{
    margin-top: 4%;
    text-align: center;
    font-size: 18px;
}

/*fim termos de uso*/
.text{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-top: 20%;
    text-align: center;
}

/*Footer*/
.footer{
    box-shadow: 3px 1px 1px 1px rgb(95, 93, 93);
    padding: 10px 0;
    background-color: rgb(231, 199, 160);
    box-sizing: border-box;

}

.footer .social{
    text-align: center;
    padding-bottom: 15px;
    color: rgb(241, 235, 247);
}

.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid rgb(221, 172, 172);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 1;
    background: rgb(56, 52, 52);
}

.footer .social a:hover{
    opacity: 0.75;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;

}

.footer ul li a:hover{
    opacity: 1;
}

.footer .copy{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(123, 79, 20);
}

.line{
    background-color: darkolivegreen;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 2px 2px 4px gray;
}
/*Fim footer*/
/*Dio*/
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cards {
    display: block;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, o.22);
    padding: 30px;
    margin: 10px;
    max-height: 300px;
    width: 300px;
    transition: all 0.3s ease-out;
    background-color: rgb(241, 235, 247);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cards:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.image {
    float: right;
   width: 100%;
}

.titu{
    margin: 16px 0;
}

.descri{
    font-weight: 300;
    max-width: 300px;
    font-size: 80%;
    margin-bottom: 16px;
}

.button{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 90%;
    font-weight: 700;
    background-color: #1c371f;
    color:  #fff;
}
/*Fim dio*/
/* Sobre nós*/

.c{
    border: 2px solid #e0eca9;
    background-color: rgb(231, 199, 160);
    margin: 3% 15% 3% 15%;
    padding: 4% 5% 6% 5%;
    border-radius: 5%;
    border: #598f5f 3px solid;
    box-shadow: 2px 2px 4px gray;
}

#RECICLART{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-align: center;   
    font-size: 40px;
    color: #333;
}

#description{
    border: 1px solid rgb(255, 242, 226);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 40px;
    margin: 5% 15px 5% 15px;
}
/* Fim do sobre nós*/
/*Guedes v.07*/

.titulo-venda{
    color: rgb(22, 97, 22);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: normal;
    margin-left: 15%;    
}

.parceiro {
    background-color:antiquewhite;
    border: 3px solid black ;
    padding: 10px;
    width: 450px;
    height: 460px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height:normal;
    border-color: rgb(17, 44, 17);
    border-radius: 15px;
    opacity: 90%;
    box-shadow: 0.5px 0.5px 1px 1px rgb(129, 218, 129);
    margin-top: 5%;     
    margin-bottom: 5%;
    margin-left: 35%;
}
 .ponto{
    margin: 1% 2% 2% 2%;
}


 #completo{
    padding-right: 55%;
} 
 #cpf {
    padding-right: 55%;
}
 #cnpj {
    padding-right: 55%;
}
 #email {
    padding-right: 55%;
}
 #telefone {
    padding-right: 55%;
}
 #estabelecimento {
    padding-right: 55%;
}
 #vendido {
    padding-right: 55%;
}

.acesso {
    margin: 5%;
    font-size: 1em;
    border-radius: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

#envi-ar{
    margin-left: 5%;
    transition: 0.8s;
}

#envi-ar:hover{
    color: whitesmoke;
    background-color: #29572e;
}


.botao {
font-size: 1em;
width: 25%;
height: 28px;
background-color: rgb(51, 173, 51);
color:black;
border: none;
border-radius: 5px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}

.botao:hover {
    background-color: #598f5f;
}
.line {
    margin: 2%;
}

  /*fim guedes*/    